body{
    background-color: grey;
}

.outerwrap{
    background-color: rgb(255, 255, 255);
    width:500px;
    margin: 250px auto;
    padding: 20px;
}
.outerwrap .logo{
    text-align: center;
}
button{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px
}
.mail{
    width: 20px;
    position: relative;
    margin:10px;
    margin-top: 0px;

    
}


.in{
    
    box-sizing: border-box;
    border: solid;
    border-color: rgb(211, 209, 209);
    border-width: 2px;
}
input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 50px;
    margin-bottom: 10px
    
}
a{
    color: rgb(153, 150, 150);
}
a:hover{
    color: grey;
}
.link{
    background-color: white;
    border: solid;
    color: rgb(19, 18, 18);;
    border-color: rgb(206, 206, 206);
}
.binp{
    font-size: 13px;
    color: rgb(153, 150, 150);
}
.last{
    text-align: center;
    font-size: 14px;
}
.box{ 
    padding: px;
    box-sizing: border-box;
    width: 500px;
    margin-top: 10px;
    
}

.hr{
    
    background-color: rgb(176, 174, 174);
    height: 1px;
    
    width: 500px ;
    margin-top: 10px;
   
    position: absolute;
    box-sizing: border-box;
    
    

}
.data{
    width: 10%;
    background-color: white;
    position: relative;
    color: rgb(176, 174, 174);
    margin-top: 0px;
    padding-left: 1px;
    margin-left: 45% ;
}